rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tags/{uid} {
      allow create: if
          request.resource.data.tagID is number &&
          request.resource.data.time is timestamp;
      allow read: if true;
    }
    match /messages/{document=**} {
      allow read, write: if true;
  }
  }
}